<section class="container">
  <article class="left">
    <app-default-object [test]="test"
      (arrayChange)="changeArrayRef($event)"
      (objectChange)="changeObjectRef($event)"
    ></app-default-object>
  </article>
  <article class="right">
    <app-on-push-object
      [test]="test"
      (arrayChange)="changeArrayRef($event)"
      (objectChange)="changeObjectRef($event)"
    >
    </app-on-push-object>
  </article>
  <article class="middle">
  </article>

  <article class="bottom-left">
  </article>

  <article class="bottom-right">
    <button (click)="changeMainObjectReference()">Change main object reference</button>
    <button (click)="asyncPush()">Async Push</button>
    <button (click)="reset()">Reset CD</button>
  </article>
</section>
